.home-bg {
     position: relative;
     background: url('../../assets/Image/bg-3.jpg') no-repeat center center;
     background-size: cover;
     opacity: 0.5;
     margin-top: 2px;
}

.home-bg:before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%);
}

.hide-after-5s {
     animation: hide 5s forwards;
   }
   
   @keyframes hide {
     to {
       opacity: 0;
       visibility: hidden;
     }
   }