@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
     font-family: 'Berkshire Swash' ;
     src: url(../src/assets/Fonts/Berkshire/BerkshireSwash-Regular.ttf);
}

.logo {
     /* font-family: 'Berkshire Swash' , cursive; */
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     opacity: 0.5;
}

.signup-button {
     position: absolute;
     top: 80%;
}