@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
     font-family: 'Berkshire Swash' ;
     src: url(../src/assets/Fonts/Berkshire/BerkshireSwash-Regular.ttf);
}

.logo {
     font-family: 'Berkshire Swash' , cursive;
}